* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.nav {
    background-color: #ff4c3b;
    /* height: 98vh; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.header {
    height: 5vh;
    display: flex;
    align-items: center;

}

.header a {
    text-decoration: none;
    color: white;
}

.social {
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 9vh;
    width: 1170px;
    align-items: center;
    margin: auto;
    color: white;

}

.shop {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.shop i {
    font-size: 70px;
    color: yellow;
}

.nav-list {
    display: flex;
    column-gap: 10px;
    font-size: larger;
}

/* nav */

/* hero */
.hero {
    display: flex;
    width: 1170px;
    height: 85vh;
    margin: auto;
    background-color: #ff4c3b;
}

.left-container {
    display: inline-block;
    width: 50%;
}

.left {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.left .new {
    color: yellow;
}

.title {
    display: flex;
    column-gap: 15px;
}

.right-container {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.right {
    display: flex;
    /* width: 50%; */
    height: 100%;
    align-items: center;
}

.circle {
    background-color: yellow;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

/* hero */